.selectButton {
  background-color: rgb(185, 213, 211);
}

.removeButton {
  background-color: rgb(246, 122, 122);
}

.description {
  background-color: rgb(255, 255, 255);
}

.car {
  background-color: rgb(247, 246, 205);
  border-radius: 5px;
  border: solid 2px rgb(131, 73, 255);
}

.racetrack {
  height: 50px;
  border: 1px solid black;
  position: relative;
  overflow: hidden;
  background: url('../../assets/flag.png') right center no-repeat;
  background-size: contain;
}

.carModelRun {
  animation: kotik 0.5s linear infinite;
}

.carCrashed {
  animation: kotik-crashed 2s linear 1;
  animation-fill-mode: forwards;
}

.carModel {
  width: 50px;
  height: 50px;
  background: bottom center no-repeat;
  background-size: contain;
  mask-size: contain;
  mask-position: bottom center;
  mask-repeat: no-repeat;
  position: absolute;
  left: 0;
  background-image: url('../../assets/001_new.svg');
  mask-image: url('../../assets/001_new.mask.svg');
}

@keyframes kotik {
  from {
    background-image: url('../../assets/001_new.svg');
    mask-image: url('../../assets/001_new.mask.svg');
  }
  25% {
    background-image: url('../../assets/002_new.svg');
    mask-image: url('../../assets/002_new.mask.svg');
  }
  50% {
    background-image: url('../../assets/003_new.svg');
    mask-image: url('../../assets/003_new.mask.svg');
  }
  75% {
    background-image: url('../../assets/004_new.svg');
    mask-image: url('../../assets/004_new.mask.svg');
  }
  to {
    background-image: url('../../assets/001_new.svg');
    mask-image: url('../../assets/001_new.mask.svg');
  }
}

@keyframes kotik-crashed {
  0% {
    background-image: url('../../assets/001_crashed.svg');
    mask-image: url('../../assets/001_crashed.mask.svg');
  }
  33% {
    background-image: url('../../assets/002_crashed.svg');
    mask-image: url('../../assets/002_crashed.mask.svg');
  }
  66% {
    background-image: url('../../assets/003_crashed.svg');
    mask-image: url('../../assets/003_crashed.mask.svg');
  }
  100% {
    background-image: url('../../assets/004_crashed.svg');
    mask-image: url('../../assets/004_crashed.mask.svg');
  }
}
